<div class="table-responsive pt-5">
    <table class="table table-striped">
        <thead>
            <tr class="table-header">
                <th scope="col">Employee #</th>
                <th scope="col">Name</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednsday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><%=schedule.id%></th>
                <td><%=schedule.monday%></td>
                <td><%=schedule.tuesday%></td>
                <td><%=schedule.wednesday%></td>
                <td><%=schedule.thursday%></td>
                <td><%=schedule.friday%></td>
                <td><%=schedule.saturday%></td>
                <td><%=schedule.sunday%></td>
            </tr>
        
        </tbody>
    </table>
</div>