<div class="table-responsive pt-5">
        <table class="table table-striped">
            <tr class="table-header">
                <th scope="col">Employee #</th>
                <th scope="col">Name</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednsday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
            
            <% for (var i = 0; i < schedule.length; i++) { %>
                <tr>
                    <td><%= schedule[i].id %></td>
                    <td><%= schedule[i].Monday %></td>
                    <td><%= schedule[i].Tuesday %></td>
                    <td><%= schedule[i].Wednsday %></td>
                    <td><%= schedule[i].Thursday %></td>
                    <td><%= schedule[i].Friday %></td>
                    <td><%= schedule[i].Saturday %></td>
                    <td><%= schedule[i].Sunday %></td>
                </tr>    
            <% } %>
        </table>
</div>