<div class="table-responsive pt-5">
        <table>
            <tr class="table-header">
                <th scope="col">Employee #</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednsday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
            
            <% schedules.forEach(function(schedule) { %>
                <tr>
                    <td><%= schedule.id %></td>
                    <td><%= schedule.Monday %></td>
                    <td><%= schedule.Tuesday %></td>
                    <td><%= schedule.Wednsday %></td>
                    <td><%= schedule.Thursday %></td>
                    <td><%= schedule.Friday %></td>
                    <td><%= schedule.Saturday %></td>
                    <td><%= schedule.Sunday %></td>
                </tr>    
            <% }) %>
        </table>
</div>