
<div class="table-responsive">
        <table class="m-auto">
            <tr class="table-header ">
                <th class="pr-5 pb-2" scope="col">EmployeeID</th>
                <th class="pr-5 pb-2" scope="col">Monday</th>
                <th class="pr-5 pb-2" scope="col">Tuesday</th>
                <th class="pr-5 pb-2" scope="col">Wednesday</th>
                <th class="pr-5 pb-2" scope="col">Thursday</th>
                <th class="pr-5 pb-2" scope="col">Friday</th>
                <th class="pr-5 pb-2" scope="col">Saturday</th>
                <th class="pr-5 pb-2" scope="col">Sunday</th>
            </tr>
            
            <% schedules.forEach(function(schedule){ %>
                <tr>           
                    <td><%= schedule.id %></td>              
                    <td><%= schedule.monday %></td>
                    <td><%= schedule.tuesday %></td>
                    <td><%= schedule.wednesday %></td>
                    <td><%= schedule.thursday %></td>
                    <td><%= schedule.friday %></td>
                    <td><%= schedule.saturday %></td>
                    <td><%= schedule.sunday %></td>
                </tr>    
            <% }) %>
        </table>
</div>